*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    margin-top: 0px;
}
.chicken, .sushi, .beef{
    float: left;
    padding: 2px;
}
.beef_component, .sushi_component, .chicken_component{
    border-style: solid;
    border-width: 1px;
    background-color: #808080;
    position: relative;
}

#header-nav{
    background-color: #808080;
    border-radius: 0%;
    border: 0px;
    margin: 0em;
}
body{
    margin: 0em;
}
.navbar-header p{
    margin-top: 0px;
    font-size: 220%;
    padding: 1%;
}
.chicken, .beef, .sushi{
    align-content: center;
}
.item{
    width: 74px;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 40%;
    font-size: 130%;
}
p{
    clear:right;
}
/* Desktop Size */
@media (min-width: 992px){
    .chicken, .beef, .sushi{
        width: 33.33%;
    }
}
/* Tab size */
@media (min-width: 768px) and (max-width: 991px){
    .chicken, .beef{
        width:50%;
    }
    .sushi{
        width:100%
    }
}
/* Phone size */
@media (max-width: 767px){
    .chicken, .beef, .sushi{
        width: 100%;
    }
}
